/* *{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}


nav{
  background: #0082e6;
  height: 80px;
  width: 100%;
}

label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 80px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 8px;
}
nav ul li a{
  color: #ffffff;
  font-size: 20px;
  
}
nav ul li a:hover{
  color: #ffffff;

  
}

.checkbtn{
  font-size: 30px;
  color: yellow;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none

}
#check{
  display: none;
}

@media(max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a{
    font-size: 16px;
  }
}

@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: 0;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a{
    font-size: 16px;
  }

  #check:checked ul{
    left: 0;
  }
} */


.radiotextsty {
  color: #A5A4BF;
  font-size: 18px;
}

.customradio {

  position: relative;
  padding-left: 30px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.customradio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: white;
  border-radius: 50%;
  border:1px solid #BEBEBE;
}

/* On mouse-over, add a grey background color */
.customradio:hover input ~ .checkmark {
  background-color: transparent;
}

/* When the radio button is checked, add a blue background */
.customradio input:checked ~ .checkmark {
  background-color: white;
  border:1px solid #BEBEBE;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.customradio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.customradio .checkmark:after {
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #A3A0FB;
}

/* Custom Radio Button End*/



/* style design  */

.sytle_giver {
  background-color: #ffffff;
  /* padding-left: 15px;
  padding-right: 15px; */
  padding: 2em;
}
.uploadimage{
  -moz-box-align: center;
align-items: center;
background-color: rgb(207, 253, 199);
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
border-radius: 0.8rem;
color: rgb(45, 188, 224);
display: flex;
height: 13rem;
max-width: 55.5rem;
position: relative;
width: 100%;
padding: 2rem 3rem 5rem 1.5rem;
}

/* #input[type="file"]{
  display: none;
} */
.img-holder{
  width: 500px;
  height: 210px;
  border: 3px solid black;
  border-radius: 5px;
  margin-top: 1rem;
}

.img{
  width: 490px;
  height: 200px;
}
.browse-button1{
border-radius: 50%;
height: 4rem;
/* justify-content: center; */
/* margin: 0px; */
outline: currentcolor none medium;
padding: 0px;
position: relative;
width: 5rem;
background-color: rgb(45, 188, 224);
border: 0.4rem solid white;
display: flex;
color: rgb(255, 255, 255);

}

.browse-button1 i {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  padding-left: 20px;
  cursor: pointer;
}

.kryKBZ {
  font-size: 1rem;
  font-weight: 300;
  /* letter-spacing: -0.0138889em; */
  /* line-height: 1.22222em; */
  color: #161a42;
  padding-left: 40px;
}

.browse-input1{
  
border-radius: 50%;
margin: 0px;
background-color: #161a42;
border: 0.4rem solid white;
display: flex;
padding-right: 70px;
height: 90px;
width: 70px;
cursor: pointer;
}

/* Design hosted form Ifrem */
.page1{
  border: red;
  background: #fff;
  
  /* width: 90%; */
  max-width: 450px;
  /* position: relative; */
  padding-right: 20px;
  padding-left: 20px;
  /* -webkit-box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%); */
  box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
  padding-bottom: 20px;

}
.page1:placeholder{
  font-size: 40px;
}


.custom-amount-input {
  width: 100%;
  /* height: 40px; */
  font-size: 18px;
  color: #4C4C4C;
  border: 1px solid #C4C3C3;
  background-color: #fff;
  /* padding: 12px 25px 14px 31px; */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  -webkit-appearance: none;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  border: 0;
  height: auto;
  background-color: #f1f2f2;
  padding: 1rem;
  /* font-size: 1.4rem; */
  margin: 0px;
}

.tabasa a{
  text-decoration: none;
  color: #ffff;
  font-size: 16px;
}
.tab-content .tab-pane {
  padding: 5px 0;
}

.tabstyle i{
  font-size: 25px;
  
}
.sectone {
  height: 50px;
  width: 100%;
  font-size: 20px;
  color: #161a42;
}


/* End of Design hosted Ifrome */
.dbSzIv {

    padding-left: 2.5rem;

}
.dbSzIv {

    border-radius: 0.8rem;
    height: 6.5rem;
    padding-left: 2rem;
    /* padding-right: 9rem; */
    display: flex;
    -moz-box-align: center;
    align-items: center;
    background: rgb(240, 252, 255) none repeat scroll 0% 0%;
    border: 0.2rem solid transparent;
    box-sizing: border-box;
    max-width: 100%;

}
.fsEGGn {
  border: 0px none;
  display: inline-block;
  margin: 0px;
  outline: currentcolor none 0px;
  vertical-align: middle;
  white-space: normal;
  line-height: normal !important;
  height: 70px;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: -0.0208333em;
  color: rgb(0, 188, 235);
  font-family: Lato;
}
.input-group i{
  color: #0f4357;
  font-size: 20px;
}
.iYhAcm {
  caret-color: inherit;
  display: inline-block;
  margin: 0px;
  outline: currentcolor none 0px;
  vertical-align: middle;
  white-space: normal;
  max-width: 100%;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 1.3em;
  background: rgb(240, 252, 255) none repeat scroll 0% 0%;
  border-radius: 0.8rem;
  border: 0.2rem solid transparent;
  box-sizing: border-box;
  color: rgb(0, 188, 235);
  font-family: Lato;
  padding: 2.5rem 2rem 6rem;
      padding-right: 2rem;
      padding-left: 2rem;
  width: 100%;
  resize: none;
  overflow: hidden;
}

.jtmHyL {

  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.166667em;
  line-height: 1.5em;
  display: inline-block;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  padding-left: 0.8rem;
  text-transform: uppercase;
  color: rgba(0, 81, 102, 0.5);
  -moz-user-select: none;

}
.gRWngx {

  border-radius: 0.8rem;
  border: 0.2rem solid #64DD17;
  height: auto;
  outline: currentcolor none medium;
  margin-bottom: 5rem;
  padding: 2.5rem 1.4rem 4rem;
  position: relative;
  width: 100%;

}
.fqIstn {

  display: inline-flex;
  -moz-box-pack: center;
  justify-content: center;
  margin: 1rem;
  outline: currentcolor none medium;
  overflow: hidden;
  -moz-user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  height: 4rem;
  color: rgb(255, 255, 255);
  padding: 0px 5.5rem;
  background: rgb(45, 188, 224) none repeat scroll 0% 0%;
  align-items: center;
  -moz-box-align: center;
  border-radius: 99rem;
  border: medium none;
  min-width: 25rem;
  position: relative;
  width: auto;
  transition: all 100ms ease-in-out 0s;

}

.viewsite h3{
  padding-left: 20px;
  color: #161a42;
  font-size: 25px;
}
.viewsite p{
  background-clip: padding-box;
  background-color: rgb(240, 252, 255);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  width: 500px;
  color: rgb(0, 188, 235);
  margin: 0px;
  font-size: 30px;
}
.gRWngx h1{
  padding-left: 0.8rem;
  text-transform: uppercase;
  color: rgba(0, 81, 102, 0.5);
  -moz-user-select: none;
}
.gRWngx h3{
  padding-left: 0.8rem;
  text-transform: uppercase;
  color: rgba(0, 81, 102, 0.5);
  -moz-user-select: none;
  font-size: 18px;
}
.tabas a{
  font-size: 25px;
  color:#0D47A1;
  font-weight: 700;

}
.bjALwV {
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: -0.0227273em;
  line-height: 1em;
  display: block;
  background-color: rgb(240, 252, 255);
  border-radius: 0.8rem;
  color: rgb(0, 188, 235);
  font-family: Lato;
  padding: 2.1rem 2.11rem;
  width: 100%;
  white-space: pre;
  overflow: scroll;
  padding-top: 40px;
}
.RWng h2{
  padding: 1.1rem 1.11rem;
  /* padding-right: 0.8rem; */
  text-transform: uppercase;
  color: rgba(0, 81, 102, 0.5);
  -moz-user-select: none;
  font-size: 18px;
}

.gRWngx p{
  color: rgb(0, 81, 102);
  font-family: Lato;
}
/* end style design */

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}

nav ul li:hover{
    font-weight: 500;
}
	
nav ul li {
	/* background: #161a42;? */
	padding: -12px;
  color: #0000;
}

nav a {
	padding:25px 10px;
	font-size:20px;
	text-decoration:none;
}

nav ul ul li:hover { 
	background-color: #161a42;
	font-weight: 500;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 20px; /* the height of the main nav */
	padding: 25px 0;
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-55px; 
	left:170px;
}

/* sidebar style */

.adm{
  font-size: 18px;
  color: #ffffff;
}
.left1{
  float: left;
  /* font-size: 30px; */
  color: #ffffff;
  padding-left: 950px;
}
.left1 i{
  font-size: 30px;
  color: #ffffff;
}

/* .navbar-toggler-icon{
  font-size: 30px;
  color: yellow;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none
} */

.container2 {
  width: 100%;
  padding-right: 15px;
  padding-left: 250px;
  margin-right: auto;
  margin-left: auto;
}

dd {
  margin-right: 0;
}

figure {
  margin: 0 0 1rem;
}

caption {
  text-align: right;
}

th {
  text-align: right;
}

.list-unstyled {
  padding-right: 0;
}

.list-inline {
  padding-right: 0;
}

.list-inline-item:not(:last-child) {
  margin-right: 0;
  margin-left: 5px;
}

.blockquote {
  border-left: none;
  border-right: 0.25rem solid #eceeef;
}

.blockquote-reverse {
  padding-left: 1rem;
  padding-right: 0;
  text-align: left;
  border-left: 0.25rem solid #eceeef;
  border-right: 0;
}

dl.row > dd + dt {
  clear: right;
}


.pull-0 {
  left: auto;
}

.pull-1 {
  left: 8.33333%;
}

.pull-2 {
  left: 16.66667%;
}

.pull-3 {
  left: 25%;
}

.pull-4 {
  left: 33.33333%;
}

.pull-5 {
  left: 41.66667%;
}

.pull-6 {
  left: 50%;
}

.pull-7 {
  left: 58.33333%;
}

.pull-8 {
  left: 66.66667%;
}

.pull-9 {
  left: 75%;
}

.pull-10 {
  left: 83.33333%;
}

.pull-11 {
  left: 91.66667%;
}

.pull-12 {
  left: 100%;
}

.push-0 {
  right: auto;
}

.push-1 {
  right: 8.33333%;
}

.push-2 {
  right: 16.66667%;
}

.push-3 {
  right: 25%;
}

.push-4 {
  right: 33.33333%;
}

.push-5 {
  right: 41.66667%;
}

.push-6 {
  right: 50%;
}

.push-7 {
  right: 58.33333%;
}

.push-8 {
  right: 66.66667%;
}

.push-9 {
  right: 75%;
}

.push-10 {
  right: 83.33333%;
}

.push-11 {
  right: 91.66667%;
}

.push-12 {
  right: 100%;
}

.offset-1 {
  margin-right: 8.33333%;
}

.offset-2 {
  margin-right: 16.66667%;
}

.offset-3 {
  margin-right: 25%;
}

.offset-4 {
  margin-right: 33.33333%;
}

.offset-5 {
  margin-right: 41.66667%;
}

.offset-6 {
  margin-right: 50%;
}

.offset-7 {
  margin-right: 58.33333%;
}

.offset-8 {
  margin-right: 66.66667%;
}

.offset-9 {
  margin-right: 75%;
}

.offset-10 {
  margin-right: 83.33333%;
}

.offset-11 {
  margin-right: 91.66667%;
}

@media (min-width: 544px) {

  .pull-sm-0 {
      left: auto;
  }

  .pull-sm-1 {
      left: 8.33333%;
  }

  .pull-sm-2 {
      left: 16.66667%;
  }

  .pull-sm-3 {
      left: 25%;
  }

  .pull-sm-4 {
      left: 33.33333%;
  }

  .pull-sm-5 {
      left: 41.66667%;
  }

  .pull-sm-6 {
      left: 50%;
  }

  .pull-sm-7 {
      left: 58.33333%;
  }

  .pull-sm-8 {
      left: 66.66667%;
  }

  .pull-sm-9 {
      left: 75%;
  }

  .pull-sm-10 {
      left: 83.33333%;
  }

  .pull-sm-11 {
      left: 91.66667%;
  }

  .pull-sm-12 {
      left: 100%;
  }

  .push-sm-0 {
      right: auto;
  }

  .push-sm-1 {
      right: 8.33333%;
  }

  .push-sm-2 {
      right: 16.66667%;
  }

  .push-sm-3 {
      right: 25%;
  }

  .push-sm-4 {
      right: 33.33333%;
  }

  .push-sm-5 {
      right: 41.66667%;
  }

  .push-sm-6 {
      right: 50%;
  }

  .push-sm-7 {
      right: 58.33333%;
  }

  .push-sm-8 {
      right: 66.66667%;
  }

  .push-sm-9 {
      right: 75%;
  }

  .push-sm-10 {
      right: 83.33333%;
  }

  .push-sm-11 {
      right: 91.66667%;
  }

  .push-sm-12 {
      right: 100%;
  }

  .offset-sm-0 {
      margin-right: 0%;
  }

  .offset-sm-1 {
      margin-right: 8.33333%;
  }

  .offset-sm-2 {
      margin-right: 16.66667%;
  }

  .offset-sm-3 {
      margin-right: 25%;
  }

  .offset-sm-4 {
      margin-right: 33.33333%;
  }

  .offset-sm-5 {
      margin-right: 41.66667%;
  }

  .offset-sm-6 {
      margin-right: 50%;
  }

  .offset-sm-7 {
      margin-right: 58.33333%;
  }

  .offset-sm-8 {
      margin-right: 66.66667%;
  }

  .offset-sm-9 {
      margin-right: 75%;
  }

  .offset-sm-10 {
      margin-right: 83.33333%;
  }

  .offset-sm-11 {
      margin-right: 91.66667%;
  }
}

@media (min-width: 768px) {

  .pull-md-0 {
      left: auto;
  }

  .pull-md-1 {
      left: 8.33333%;
  }

  .pull-md-2 {
      left: 16.66667%;
  }

  .pull-md-3 {
      left: 25%;
  }

  .pull-md-4 {
      left: 33.33333%;
  }

  .pull-md-5 {
      left: 41.66667%;
  }

  .pull-md-6 {
      left: 50%;
  }

  .pull-md-7 {
      left: 58.33333%;
  }

  .pull-md-8 {
      left: 66.66667%;
  }

  .pull-md-9 {
      left: 75%;
  }

  .pull-md-10 {
      left: 83.33333%;
  }

  .pull-md-11 {
      left: 91.66667%;
  }

  .pull-md-12 {
      left: 100%;
  }

  .push-md-0 {
      right: auto;
  }

  .push-md-1 {
      right: 8.33333%;
  }

  .push-md-2 {
      right: 16.66667%;
  }

  .push-md-3 {
      right: 25%;
  }

  .push-md-4 {
      right: 33.33333%;
  }

  .push-md-5 {
      right: 41.66667%;
  }

  .push-md-6 {
      right: 50%;
  }

  .push-md-7 {
      right: 58.33333%;
  }

  .push-md-8 {
      right: 66.66667%;
  }

  .push-md-9 {
      right: 75%;
  }

  .push-md-10 {
      right: 83.33333%;
  }

  .push-md-11 {
      right: 91.66667%;
  }

  .push-md-12 {
      right: 100%;
  }

  .offset-md-0 {
      margin-right: 0%;
  }

  .offset-md-1 {
      margin-right: 8.33333%;
  }

  .offset-md-2 {
      margin-right: 16.66667%;
  }

  .offset-md-3 {
      margin-right: 25%;
  }

  .offset-md-4 {
      margin-right: 33.33333%;
  }

  .offset-md-5 {
      margin-right: 41.66667%;
  }

  .offset-md-6 {
      margin-right: 50%;
  }

  .offset-md-7 {
      margin-right: 58.33333%;
  }

  .offset-md-8 {
      margin-right: 66.66667%;
  }

  .offset-md-9 {
      margin-right: 75%;
  }

  .offset-md-10 {
      margin-right: 83.33333%;
  }

  .offset-md-11 {
      margin-right: 91.66667%;
  }
}

@media (min-width: 992px) {

  .pull-lg-0 {
      left: auto;
  }

  .pull-lg-1 {
      left: 8.33333%;
  }

  .pull-lg-2 {
      left: 16.66667%;
  }

  .pull-lg-3 {
      left: 25%;
  }

  .pull-lg-4 {
      left: 33.33333%;
  }

  .pull-lg-5 {
      left: 41.66667%;
  }

  .pull-lg-6 {
      left: 50%;
  }

  .pull-lg-7 {
      left: 58.33333%;
  }

  .pull-lg-8 {
      left: 66.66667%;
  }

  .pull-lg-9 {
      left: 75%;
  }

  .pull-lg-10 {
      left: 83.33333%;
  }

  .pull-lg-11 {
      left: 91.66667%;
  }

  .pull-lg-12 {
      left: 100%;
  }

  .push-lg-0 {
      right: auto;
  }

  .push-lg-1 {
      right: 8.33333%;
  }

  .push-lg-2 {
      right: 16.66667%;
  }

  .push-lg-3 {
      right: 25%;
  }

  .push-lg-4 {
      right: 33.33333%;
  }

  .push-lg-5 {
      right: 41.66667%;
  }

  .push-lg-6 {
      right: 50%;
  }

  .push-lg-7 {
      right: 58.33333%;
  }

  .push-lg-8 {
      right: 66.66667%;
  }

  .push-lg-9 {
      right: 75%;
  }

  .push-lg-10 {
      right: 83.33333%;
  }

  .push-lg-11 {
      right: 91.66667%;
  }

  .push-lg-12 {
      right: 100%;
  }

  .offset-lg-0 {
      margin-right: 0%;
  }

  .offset-lg-1 {
      margin-right: 8.33333%;
  }

  .offset-lg-2 {
      margin-right: 16.66667%;
  }

  .offset-lg-3 {
      margin-right: 25%;
  }

  .offset-lg-4 {
      margin-right: 33.33333%;
  }

  .offset-lg-5 {
      margin-right: 41.66667%;
  }

  .offset-lg-6 {
      margin-right: 50%;
  }

  .offset-lg-7 {
      margin-right: 58.33333%;
  }

  .offset-lg-8 {
      margin-right: 66.66667%;
  }

  .offset-lg-9 {
      margin-right: 75%;
  }

  .offset-lg-10 {
      margin-right: 83.33333%;
  }

  .offset-lg-11 {
      margin-right: 91.66667%;
  }
}

@media (min-width: 1200px) {

  .pull-xl-0 {
      left: auto;
  }

  .pull-xl-1 {
      left: 8.33333%;
  }

  .pull-xl-2 {
      left: 16.66667%;
  }

  .pull-xl-3 {
      left: 25%;
  }

  .pull-xl-4 {
      left: 33.33333%;
  }

  .pull-xl-5 {
      left: 41.66667%;
  }

  .pull-xl-6 {
      left: 50%;
  }

  .pull-xl-7 {
      left: 58.33333%;
  }

  .pull-xl-8 {
      left: 66.66667%;
  }

  .pull-xl-9 {
      left: 75%;
  }

  .pull-xl-10 {
      left: 83.33333%;
  }

  .pull-xl-11 {
      left: 91.66667%;
  }

  .pull-xl-12 {
      left: 100%;
  }

  .push-xl-0 {
      right: auto;
  }

  .push-xl-1 {
      right: 8.33333%;
  }

  .push-xl-2 {
      right: 16.66667%;
  }

  .push-xl-3 {
      right: 25%;
  }

  .push-xl-4 {
      right: 33.33333%;
  }

  .push-xl-5 {
      right: 41.66667%;
  }

  .push-xl-6 {
      right: 50%;
  }

  .push-xl-7 {
      right: 58.33333%;
  }

  .push-xl-8 {
      right: 66.66667%;
  }

  .push-xl-9 {
      right: 75%;
  }

  .push-xl-10 {
      right: 83.33333%;
  }

  .push-xl-11 {
      right: 91.66667%;
  }

  .push-xl-12 {
      right: 100%;
  }

  .offset-xl-0 {
      margin-right: 0%;
  }

  .offset-xl-1 {
      margin-right: 8.33333%;
  }

  .offset-xl-2 {
      margin-right: 16.66667%;
  }

  .offset-xl-3 {
      margin-right: 25%;
  }

  .offset-xl-4 {
      margin-right: 33.33333%;
  }

  .offset-xl-5 {
      margin-right: 41.66667%;
  }

  .offset-xl-6 {
      margin-right: 50%;
  }

  .offset-xl-7 {
      margin-right: 58.33333%;
  }

  .offset-xl-8 {
      margin-right: 66.66667%;
  }

  .offset-xl-9 {
      margin-right: 75%;
  }

  .offset-xl-10 {
      margin-right: 83.33333%;
  }

  .offset-xl-11 {
      margin-right: 91.66667%;
  }
}

.form-check-label {
  padding-right: 1.25rem;
}

.form-check-input {
  margin-right: -1.25rem;
}

.form-check-inline {
  padding-right: 1.25rem;
}

  .form-check-inline + .form-check-inline {
      margin-right: .75rem;
  }

.form-control-feedback {
  margin-top: 0.25rem;
}

.form-control-success,
.form-control-warning,
.form-control-danger {
  padding-left: 2.25rem;
  background-position: center right 0.625rem;
}

.form-inline .form-check-label {
  padding-right: 0;
}

.dropdown-toggle::after {
  margin-right: 0.3em;
}

.dropdown-menu {
  right: 0;
  float: right;
  margin: 2px 0 0;
  text-align: right;
}

.dropdown-divider {
  margin: 0.5rem 0;
}



.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-right: -1px;
}

.btn-toolbar {
  margin-right: -0.5rem;
}



  .btn-toolbar > .btn,
  .btn-toolbar > .btn-group,
  .btn-toolbar > .input-group {
      margin-right: 0.5rem;
  }

.btn-group > .btn:first-child {
  margin-right: 0;
}

.btn-group > .btn-group {
  float: right;
}

.btn + .dropdown-toggle-split::after {
  margin-right: 0;
}


.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
  margin-right: 0;
}

.input-group .form-control {
  float: left;
}

.input-group-addon:not(:last-child) {
  border-right: 1px solid rgba(0,0,0,.15);
  border-left: 0;
}

.form-control + .input-group-addon:not(:first-child) {
  border-left-width: medium;
  border-right: 0;
}



.input-group-btn > .btn + .btn {
  margin-right: -1px;
}

.input-group-btn:not(:last-child) > .btn,
.input-group-btn:not(:last-child) > .btn-group {
  margin-left: -1px;
}

.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group {
  margin-right: -1px;
}

.custom-control {
  padding-right: 1.5rem;
}

  .custom-control + .custom-control {
      margin-right: 1rem;
  }

.custom-control-indicator {
  right: 0;
}

.custom-controls-stacked .custom-control + .custom-control {
  margin-right: 0;
}

.custom-select {
  padding-left: 0.75rem \9;
}

.nav {
  padding-right: 0;
}



  .nav-tabs .nav-item + .nav-item {
      margin-right: 0.2rem;
  }



  .nav-pills .nav-item + .nav-item {
      margin-right: 0.2rem;
  }

.nav-stacked .nav-item + .nav-item {
  margin-right: 0;
}







/* .navbar-nav .nav-link + .nav-link {
  margin-right: 1rem;
}

.navbar-nav .nav-item + .nav-item {
  margin-right: 1rem;
} */

/* @media (max-width: 543px) {
  .navbar-toggleable .navbar-nav .nav-item {
      margin-right: 0;
  }
}

@media (max-width: 767px) {
  .navbar-toggleable-sm .navbar-nav .nav-item {
      margin-right: 0;
  }
}

@media (max-width: 991px) {
  .navbar-toggleable-md .navbar-nav .nav-item {
      margin-right: 0;
  }
} */

.card-link + .card-link {
  margin-right: 1.25rem;
}

.card-blockquote {
  border-right: 0;
}

.breadcrumb-item {
  float: right;
}

.pagination {
  padding-right: 0;
}

.page-item:first-child .page-link {
  margin-right: 0;
}

.page-link {

  margin-right: -1px;
}

.alert-dismissible {
  padding-left: 2rem;
}

  .alert-dismissible .close {
      left: -1rem;
  }

.media-list {
  padding-right: 0;
}

.list-group {
  padding-right: 0;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  right: 0;
}

.close {
  float: left;
}

.tooltip {
  text-align: right;
}

  .tooltip.tooltip-top .tooltip-arrow,
  .tooltip.bs-tether-element-attached-bottom .tooltip-arrow {
      right: 50%;
      margin-right: -5px;
  }

  .tooltip.tooltip-bottom .tooltip-arrow,
  .tooltip.bs-tether-element-attached-top .tooltip-arrow {
      right: 50%;
      margin-right: -5px;
  }

.popover {
  right: 0;
  text-align: right;
}

  .popover.popover-top .popover-arrow,
  .popover.bs-tether-element-attached-bottom .popover-arrow {
      right: 50%;
      margin-right: -11px;
  }

      .popover.popover-top .popover-arrow::after,
      .popover.bs-tether-element-attached-bottom .popover-arrow::after {
          margin-right: -10px;
      }

  .popover.popover-bottom .popover-arrow,
  .popover.bs-tether-element-attached-top .popover-arrow {
      right: 50%;
      margin-right: -11px;
  }

      .popover.popover-bottom .popover-arrow::after,
      .popover.bs-tether-element-attached-top .popover-arrow::after {
          margin-right: -10px;
      }

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .carousel-item.next,
  .carousel-inner > .carousel-item.active.right {
      right: 0;
  }

  .carousel-inner > .carousel-item.prev,
  .carousel-inner > .carousel-item.active.left {
      right: 0;
  }

      .carousel-inner > .carousel-item.next.left,
      .carousel-inner > .carousel-item.prev.right,
      .carousel-inner > .carousel-item.active {
          right: 0;
      }
}

.carousel-inner > .active {
  right: 0;
}

.carousel-inner > .next {
  right: 100%;
}

.carousel-inner > .prev {
  right: -100%;
}

  .carousel-inner > .next.left,
  .carousel-inner > .prev.right {
      right: 0;
  }

.carousel-inner > .active.left {
  right: -100%;
}

.carousel-inner > .active.right {
  right: 100%;
}

/*.carousel-control {
right: 0;
}

.carousel-control.right {
left: 0;
right: auto;
}*/

.carousel-control .icon-prev {
  right: 50%;
  margin-right: -10px;
}

.carousel-control .icon-next {
  left: 50%;
  margin-left: -10px;
}

.carousel-indicators {
  right: 50%;
  padding-right: 0;
  margin-right: -30%;
}

.carousel-caption {
  left: 15%;
  right: 15%;
  z-index: 10;
}

@media (min-width: 544px) {
  .carousel-control .icon-prev {
      margin-right: -15px;
  }

  .carousel-control .icon-next {
      margin-left: -15px;
  }

  .carousel-caption {
      left: 20%;
      right: 20%;
  }
}



/*!
* Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
* Copyright 2013-2017 Start Bootstrap
* Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
*/

body {
overflow-x: hidden;
}

#wrapper {
padding-left: 0;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

#wrapper.toggled {
padding-right: 250px;


}




#sidebar-wrapper {
z-index: 1000;
position: fixed;
/* right: 250px; */
/* width: 20px; */
height: 100%;
/* margin-right: -250px; */
max-width: 180px;
overflow-y: auto;
background: #161a42;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;

}

/* .navbar-nav li{
  float: right;
  
} */

#wrapper.toggled #sidebar-wrapper {
width: 250px;
}

#page-content-wrapper {
width: 100%;
position: absolute;
padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
position: absolute;
margin-right: 0px;
}


/* Sidebar Styles */
.sidebar-nav i{
  color: #ffffff;
  font-size: 20px;
}

.sidebar-nav {
position: absolute;
top: 0;
width: 250px;
margin: 0;
padding: 0;
list-style: none;
}

.sidebar-nav li {
text-indent: 20px;
line-height: 40px;
}

.sidebar-nav li a {
display: block;
text-decoration: none;
color: #ffffff;
font-size: 20px;
}

.sidebar-nav li a:hover {
text-decoration: none;
color: #fff;
background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
height: 65px;
font-size: 18px;
line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
color: #fff;
background: none;
}

@media(min-width:768px) {
#wrapper {
  padding-left: 0;
}
#wrapper.toggled {
  padding-right: 250px;
}
#sidebar-wrapper {
  width: 0;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
#page-content-wrapper {
  padding: 20px;
  /* position: relative; */
}
#wrapper.toggled #page-content-wrapper {
  /* position: relative; */
  margin-right: 0;
}
}



/* Accodion */



#accordion-style-1 h1,
#accordion-style-1 a{
    color:#007b5e;
}
#accordion-style-1 .btn-link {
    font-weight: 400;
    color: #007b5e;
    background-color: transparent;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: bold;
	padding-left: 25px;
}

#accordion-style-1 .card-body {
    border-top: 2px solid #007b5e;
}

#accordion-style-1 .card-header .btn.collapsed .fa.main{
	display:none;
}

#accordion-style-1 .card-header .btn .fa.main{
	background: #007b5e;
    padding: 13px 11px;
    color: #ffffff;
    width: 35px;
    height: 41px;
    position: absolute;
    left: -1px;
    top: 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
	display:block;
}

.submit button{
  padding-right: 20px;
}

.logery{
  width: 500px;
  margin: 3vh auto;
  box-shadow: 0 7px 7px rgb(0 0 0 / 12%), 0 12px 40px rgb(0 0 0 / 24%);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.multform{
  background-color: #1f2f38;
  padding: 1em;
  color: #ffffff;
 
  font-weight: 600;

}
.logery button{
  background-color: #1f2f38;
}
.multform h3{
  font-size: 18px;
}

.logery label{
  font-size: 16px;
  color:  #424242;
}

.logery button {
  color: #fff;
  background-color: #1f2f38;
  display: block;
  width: 100%;
  font-size: 20px;
}

.logery button:hover {
  
  background: #161a42;
  color: #ffffff;
}
.activ h2{
  font-size: 25px;
  font-weight: 600;
  padding-left: 300px;
  color: #00B74A;
}
@media only screen and (max-device-width: 767px) {
  .pages {
      padding-left: 10px;
  }
  

}
@media only screen and (max-device-width: 768px) {
  .pages {
      padding-left: 80px;
  }
  .btn{
      font-size: 15px;
      width: 150px;
  }
}
@media only screen and (max-device-width: 360px) {
  .pages {
      padding-left: 17px;
  }
}

@media only screen and (max-device-width: 375px, 414) {
  .pages {
      padding-left: 17px;
  }
}
@media only screen and (max-device-width: 414px) {
  .pages {
      padding-left: 17px;
  }
}
/* @media (max-width: 858px){
  .navbar-toggler-icon{
    display: block;
  }
} */

@media (max-width: 858px){
  .left1{
    padding-left: 100px;
    font-size: 16px;
  }
}
@media only screen and (max-device-width: 950px, 640) {
  .pages {
      padding-left: 80px;
      font-size: 16px;
  }
}


/* Review form */

.checkout-wrapper{padding-top: 40px; padding-bottom:40px; background-color: #fafbfa;}
.checkout{    background-color: #fff;
    border:1px solid #eaefe9;
     
    font-size: 14px;}
.panel{margin-bottom: 0px;}
.checkout-step {
     
    border-top: 1px solid #f2f2f2;
    color: #666;
    font-size: 14px;
    padding: 30px;
    position: relative;
}

.checkout-step-number {
    border-radius: 50%;
    border: 1px solid #666;
    display: inline-block;
    font-size: 12px;
    height: 32px;
    margin-right: 26px;
    padding: 6px;
    text-align: center;
    width: 32px;
}
.checkout-step-title{ font-size: 18px;
    font-weight: 500;
    vertical-align: middle;display: inline-block; margin: 0px;
     }
 
.checout-address-step{}
.checout-address-step .form-group{margin-bottom: 18px;display: inline-block;
    width: 100%;}

.checkout-step-body{padding-left: 60px; padding-top: 30px;}

.checkout-step-active{display: block;}
.checkout-step-disabled{display: none;}

.checkout-login{}
.login-phone{display: inline-block;}
.login-phone:after {
    content: '+91 - ';
    font-size: 14px;
    left: 36px;
}
.login-phone:before {
    content: "";
    font-style: normal;
    color: #333;
    font-size: 18px;
    left: 12px;
        display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.login-phone:after, .login-phone:before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.login-phone .form-control {
    padding-left: 68px;
    font-size: 14px;
    
}
.checkout-login .btn{height: 42px;     line-height: 1.8;}
 
.otp-verifaction{margin-top: 30px;}
.checkout-sidebar{background-color: #fff;
    border:1px solid #eaefe9; padding: 30px; margin-bottom: 30px;}
.checkout-sidebar-merchant-box{background-color: #fff;
    border:1px solid #eaefe9; margin-bottom: 30px;}
.checkout-total{border-bottom: 1px solid #eaefe9; padding-bottom: 10px;margin-bottom: 10px; }
.checkout-invoice{display: inline-block;
    width: 100%;}
.checout-invoice-title{    float: left; color: #30322f;}
.checout-invoice-price{    float: right; color: #30322f;}
.checkout-charges{display: inline-block;
    width: 100%;}
.checout-charges-title{float: left; }
.checout-charges-price{float: right;}
.charges-free{color: #43b02a; font-weight: 600;}
.checkout-payable{display: inline-block;
    width: 100%; color: #333;}
.checkout-payable-title{float: left; }
.checkout-payable-price{float: right;}

.checkout-cart-merchant-box{ padding: 20px;display: inline-block;width: 100%; border-bottom: 1px solid #eaefe9;
 padding-bottom: 20px; }
.checkout-cart-merchant-name{color: #30322f; float: left;}
.checkout-cart-merchant-item{ float: right; color: #30322f; }
.checkout-cart-products{}

.checkout-cart-products .checkout-charges{ padding: 10px 20px;
    color: #333;}
.checkout-cart-item{ border-bottom: 1px solid #eaefe9;
    box-sizing: border-box;
    display: table;
    font-size: 12px;
    padding: 22px 20px;
    width: 100%;}
 .checkout-item-list{}
.checkout-item-count{ float: left; }
.checkout-item-img{width: 60px; float: left;}
.checkout-item-name-box{ float: left; }
.checkout-item-title{ color: #30322f; font-size: 14px;  }
.checkout-item-unit{  }
.checkout-item-price{float: right;color: #30322f; font-size: 14px; font-weight: 600;}


.checkout-viewmore-btn{padding: 10px; text-align: center;}

.header-checkout-item{text-align: right; padding-top: 20px;}
.checkout-promise-item {
    background-repeat: no-repeat;
    background-size: 14px;
    display: inline-block;
    margin-left: 20px;
    padding-left: 24px;
    color: #30322f;
}
.checkout-promise-item i{padding-right: 10px;color: #43b02a;}


