
body{
  background-color: #e9eef5;
  font-family: 'PT Sans', sans-serif;
}
/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  
} */

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  /* background-image: url('/images/img-2.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  /* background-image: url('/images/img-1.jpg'); */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  /* background-image: url('/images/img-8.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}



.homesection{
  padding: 3rem;
}

.backhome{
  /* background-color: black; */
  /* height: 80px; */

}

.homesection h2{
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Mallory,sans-serif;
  font-size: 56px;
  line-height: 58px;
  font-weight: 700;
  letter-spacing: -2px;
}

.homesection p{
  font-size: 20px;
  color: #20343b;
}

.homesection img{
  height: 400px;
  width: 500px;
}

.homesection i{
  font-size: 50px;
  color: #00b74a;
}

/* giving section */
.giving-section{
  background-color: #ffffff;
  padding-top: 5em;
  padding-bottom: 4em;
  padding-left: 1em;
  padding-right: 1em;
}

.giving-section h2{
  margin-top: 0;
  margin-bottom: 10px;
 font-family: Mallory,sans-serif;
  font-size: 25px;
  line-height: 29px;
  font-weight: 600;
  letter-spacing: -1px;
  
}
.giving-section p{
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 23px;
}

.giving-section i{
  font-size: 50px;
  color: #00b74a;
}

.giving-section h1{
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Matter,sans-serif;
  font-size: 47px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: -1px;
  text-align: center;
}

.giving-section h3{
  font-size: 20px;
line-height: 34px;
text-align: center;
margin: 10px;
}

.more{
  display: inline-block;
  margin-right: 12px;
  font-weight: 500;
  letter-spacing: 0;
  font-size: 14px;
}

.more i{
  font-size: 23px;
  color: #dc3545;
}
/* footer  section*/
.footer{  
  background:#161a42 !important;
  color : #fff !important;
  /* margin-top: 50px; */
}

.footer h4 {
  margin-top: 30px;
}


.navbar
{
  background:#161a42;
  /* font-size: 1.3rem; */
}
.navbar .brand-navbar img:hover
{
    opacity: 0.7;
}
.navbar ul
{
/* padding: 0px 30px 0px 0px; */
}
.navbar ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}
.navbar ul li a .fas{
    padding-right:5px; 
    padding-left:5px; 
}
.navbar ul li a:hover{
    color: #15b000;
}
.navbar ul li.active > a {
    color: #15b000;
    font-weight: bold;
    font-size: 12px;
    border-left: 3px solid #15b000;
    border-radius: 40px;
}
.iconStyle
{
    color: #15b000;
}

navbar-toggler {
  padding: 1.260rem .75rem;
  font-size: 1.35rem;
  line-height: -2;
  background-color: transparent;
  /* border: 1px solid transparent; */
  border-radius: .25rem;
}
.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  background: block;
  background:#161a42;
  float: right;
  padding-left: 10px;
}
.btn-outline-dark{
  background-color: transparent;
border: 1px solid transparent;
}


.sgin-up{
 width: 100%;
padding-right: 15px; 
padding-left: 15px;
margin-right: auto;
margin-left: auto;

position: relative;
background-color: #fff;
border-radius: 5px;
max-width: 595px;
margin-top: 45px;
padding: 45px;
}

.main{
  padding: 40px 0;
}
.main input,
.main input::-webkit-input-placeholder {
   /* font-size: 11px; */
   padding-top: 3px;
}
.main-center{
  margin-top: 30px;
  margin: 0 auto;
 
   padding: 10px 40px;
   background-color: #e9eef5;
   text-shadow: none;
 -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
padding-bottom: 30px;

}
span.input-group-addon i {
   color: #009edf;
   font-size: 17px;
}

.sgin-up h2{

  text-align: center;
  font-size: 50px;
  color: #161a42;
}
.sgin-up i{
  font-size: 50px;
  color: #00b74a;
}

.contact {
  background-color: #ffffff;
  padding: 2em;

}

.contact h2{
  margin-top: 0;
    margin-bottom: 20px;
    font-family: Mallory,sans-serif;
    font-size: 45px;
    line-height: 58px;
    font-weight: 700;
    letter-spacing: -2px;
    padding-left: 20px;
}

.contact p{
  font-size: 22px;
font-weight: 400;
line-height: 1.4em;
margin-top: 15px;
margin-bottom: 10px;
padding-left: 20px;
}
.btn-contect{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  padding-top: 3px;
  padding-top: 10px;
  padding-bottom: 0.1px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;

}

.contact-section{
  
  padding: 4rem;
}
.contact-section p{
  font-size: 35px;
}

.call {
  padding: 4rem;
  background-color: #ffffff;
}

.call img{
  width: 200px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.sidenav {
  color: #fff;
  /* padding-left: 1100px; */

}
@media screen and (max-width: 768px){

  .contact h2{
    /* margin-top: 0; */
    /* margin-bottom: 20px; */
    font-family: Mallory,sans-serif;
    font-size: 30px;
    /* line-height: 58px; */
    font-weight: 500;
    /* letter-spacing: -1px; */
    /* padding-left: 20px; */
}
.contact-section p{
  font-size: 25px;
  font-weight: 500;
  
}

}

