
body{
  /* background-color: #e9eef5; */
  font-family: 'PT Sans', sans-serif;
}
/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  
} */

.btn {
font-size: 1em;
}
.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  /* background-image: url('/images/img-2.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  /* background-image: url('/images/img-1.jpg'); */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  /* background-image: url('/images/img-8.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}



.homesection{

  background-color: #eef1f5;
  padding: 3rem;
}

.backhome{
  /* background-color: black; */
  /* height: 80px; */

}
.created-by{
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 12px;
  transition: all 0.2s ease-in-out 0s;
}
.created-by span {
 font-size: 15px;
 font-weight: bold;
 color: #f04556;
 padding-left: 60px;
}
.created-by h6{
  font-size: 15px;
  font-weight: bold;

}
.link-title{
  margin-top: 10px;
  margin-bottom: 20px;
  /* font-family: Mallory,sans-serif; */
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
}



.homesection p{
  font-size: 18px;
  color: #20343b;
}

.homesection img{
  height: 200px;
  /* width: 300px; */

}
.homesection a {
  color: #20343b;
font-weight: 600;
font-size: 22px;
margin-top: 10px;
margin-bottom: 10px;
}

.homesection i{
  font-size: 50px;
  color: #00b74a;
}

/* giving section */
.giving-section{
  background-color: #ffffff;
  padding-top: 5em;
  padding-bottom: 4em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}
.back-ground-cards{
  margin: 0px 0px 22px;
  min-width: 0px;
  height: 526px;
  /* background-color: var(--theme-ui-colors-testimonialCardSlack); */
  flex-direction: column;
  position: relative;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 20px 10px -5px;
  padding: 24px;
  display: flex;
  background-color: #fafafa;

}

.giving-section h2{
  margin-top: 0;
  margin-bottom: 10px;
 font-family: Mallory,sans-serif;
  font-size: 18px;
  line-height: 29px;
  font-weight: 600;
  letter-spacing: -1px;
  
}
.giving-section p{
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 23px;
}

.giving-section i{
  font-size: 50px;
  color: #00b74a;
}

.giving-section h1{
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Matter,sans-serif;
  font-size: 47px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: -1px;
  text-align: center;
}

.giving-section h3{
  font-size: 16px;
line-height: 34px;
text-align: center;
margin: 10px;
}

.pray{
  font-size: 20px;
  background-color: #e03a7c!important;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 15px;
  padding-left: 15px;
  color: #ffffff;
  border-radius: 10px;
}
.giving-section a:hover{
  color: #fff;
}

.btn-btn-danger{
  
}

.more{
  display: inline-block;
  margin-right: 12px;
  font-weight: 500;
  letter-spacing: 0;
  font-size: 14px;
}

.more i{
  font-size: 23px;
  color: #dc3545;
}
/* footer  section*/
.footer{  
  background:#161a42 !important;
  color : #fff !important;
  /* margin-top: 50px; */
}

.footer h4 {
  margin-top: 30px;
}



.sgin-up{
margin-right: auto;
margin-left: auto;
position: relative;
background-color: #fff;
border-radius: 5px;
max-width: 590px;
margin-top: 45px;
padding: 45px;
text-shadow: none;
-webkit-box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 31%);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 31%);
padding-top: 20px;
}

.logiup-top{
  padding: 5rem;
}
.logiup-top a{
  color: red;
  font-size: 25px;
  font-weight: 600;
}

.main{
  padding: 40px 0;
}
.main input,
.main input::-webkit-input-placeholder {
   /* font-size: 11px; */
   padding-top: 3px;
}
.main-center{
  margin-top: 30px;
  margin: 0 auto;
 
   padding: 10px 40px;
   background-color: #e9eef5;
   text-shadow: none;
 -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
padding-bottom: 30px;

}
span.input-group-addon i {
   color: #009edf;
   font-size: 17px;
}

.sgin-up h2{

  text-align: center;
  font-size: 50px;
  color: #161a42;
}
.sgin-up i{
  font-size: 50px;
  color: #00b74a;
}

.contact {
  background-color: #ffffff;
  padding: 2em;

}

.contact h2{
  margin-top: 0;
    margin-bottom: 20px;
    font-family: Mallory,sans-serif;
    font-size: 45px;
    line-height: 58px;
    font-weight: 700;
    letter-spacing: -2px;
    padding-left: 20px;
}

.contact p{
  font-size: 22px;
font-weight: 400;
line-height: 1.4em;
margin-top: 15px;
margin-bottom: 10px;
padding-left: 20px;
}
.btn-contect{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  padding-top: 3px;
  padding-top: 10px;
  padding-bottom: 0.1px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;

}

.contact-section{
  
  padding: 4rem;
}
.contact-section p{
  font-size: 35px;
}

.call {
  padding: 4rem;
  background-color: #ffffff;
}

.call img{
  width: 200px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.sidenav {
  color: #fff;
  /* padding-left: 1100px; */

}
/* Camapin style */
.campain {
  padding: 3rem;
}

.campain h3{
  font-family: Matter,sans-serif;
  color: #181f36;
  font-size: 28px;
  font-weight: 600;
}
.campain h2 {
  font-family: Matter,sans-serif;
  color: #181f36;
  font-size: 30px;
  font-weight: 600;
  padding-top: 10px;
}
.campain p{
  font-size: 16px;
  color: #20343b;
}
.campain a {
  color: red;
  font-weight: 600;
}

.campain h1{
  font-size: 60px;
  padding-bottom: 15px;
  line-height: 130%;
  font-family: MuseoSans-700,sans-serif;
  font-weight: 400;
}

.campain img{
  width: 800px;
  height: 400px;
}
.usernames {
  padding-top: 20px;
  background-color: #eef1f5;
  padding-left: 20px;
  box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
  overflow: scroll;
  height: 510px;
}
.usernames p{
  color: red;
  font-weight: 600;
  font-size: 18px;
}
.usernames h3{
  font-size: 20px;
  font-weight: 600;
  color: #181f36;
}
.btn-btn-success{
  background-color: #00e25b;
  color: #ffffff;
  border:#00e25b;
  height: 38px;
  font-weight: 600;
}

/* Show page start */

.show-page {
  padding: 3rem;
}

.show-page p{
  font-size: 20px;
  padding-top: 30px;
}
.show-page h2{
  float: right;
  font-size: 20px;
  color: green;
  font-weight: 600;
}

.show-page h1{
 
 text-align: center;
 padding-top: 0;
 font-family: Matter,sans-serif;
 color: #181f36;
 font-size: 56px;
 line-height: 58px;
 font-weight: 700;  
}
.show-page img{
  width: 900px;
  height: 600px;
  
}
[class*='fix-'] {
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  float: none;
}

.fix-10-12 {
  max-width: 922px !important;
}
@media screen and (max-width: 768px){

  .contact h2{
    /* margin-top: 0; */
    /* margin-bottom: 20px; */
    font-family: Mallory,sans-serif;
    font-size: 30px;
    /* line-height: 58px; */
    font-weight: 500;
    /* letter-spacing: -1px; */
    /* padding-left: 20px; */
}
.contact-section p{
  font-size: 25px;
  font-weight: 500;
  
}

}
.donate {
 
  background-color: #ff3547!important;
  border-radius: 15px;
  height: 60px;

}
.navbar-nav {
  display: flex;
  -ms-flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  color: #ffffff;
}
.navbar a {

  

	font-size: 1.3em;
}
.navbar i {
	color: #ffffff;
	font-size: 1.6em;
}
.navbar1 i {
	color:#FF8800;
	font-size: 1.5em;
}


.navbar1 {
  font-size: 1.3em;
  font-weight: 500;
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: 0 2px 5px 0 rgba(143, 100, 100, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.navbar1 a {
  color: #4285f4;
  font-size: 1em;
}


.nav-tabs .nav-link.active {
  color: #495057;
 
  font-size: 1.5em;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  /* border-top-left-radius: .25rem; */
  /* border-top-right-radius: .25rem; */
}
.nav-link {
  display: block;
  padding: 1rem;
}


@media only screen and (max-width: 600px) {

  .homesection{
    background-color: #eef1f5;
    padding: 0.1rem;
  }
  .created-by{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 12px;
    transition: all 0.2s ease-in-out 0s;
  }
  .created-by span {
  font-size: 12px;
  /* font-weight: bold; */
  color: #f04556;
  padding-left: 30px;
  }
  .created-by h6{
    font-size: 12px;
    /* font-weight: bold; */

  }
  .homesection h2{
    margin-top: 10px;
    margin-bottom: 18px;

  }
  .homesection p{
    font-size: 15px;
  }

  .homesection img{
    height: 150px;
    width: 280px;
  }
  .back-ground-cards{
    min-width: 0px;
    height: 426px;
  }
  .show-page {
    padding: 1rem;
  }
  .show-page h1{
    font-size: 30px;
    line-height: 28px;
    font-weight: 400; 
    font-weight: 600; 
  }
  .show-page p{
    font-size: 16px;
  }
  .show-page img{
    height: 500px;
  }
}